DRIVER=~fastapi
DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080
SUPERUSERS=[""]
COMMAND_START=["/", ""]
COMMAND_SEP=[".", " "]
NICKNAME=["小吹"]
LOCALSTORE_USE_CWD=true
ONEBOT_ACCESS_TOKEN=BOT
LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL_NAME=